<div class="col-4">
  <div class="flat-card">
    <div class="flat-card-image" style="background-image: url('')"></div>
    <div class="flat-card-content">
      <div class="flat-card-title">
        <h4><%= flat.name %></h4>
      </div>
      <p><%= flat.address %></p>
      <div class="flex">
        <div class="flex">
          <i class="material-icons mr-2">people</i><span><%= flat.number_of_guests %></span>
        </div>
        <div class="flex ml-3">
          <i class="material-icons mr-2">euro_symbol</i> <%= flat.price_per_night %>
        </div>
      </div>
    </div>
    <div class="flat-card-actions">
      <%= link_to 'More info', flat_path(flat) %>
     <!--  <%= link_to 'Edit', '#', class:  "ml-3 text-warning"%>
      <%= link_to 'Remove', '#', class: "ml-3 text-danger" %> -->
    </div>
  </div>
</div>
